@font-face {
  font-family: 'Satoshi';
  src: url('Satoshi-Regular.woff2') format('woff2');
}

html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    font-family: 'Satoshi', sans-serif;
}
main{
    width:100%;
    height:100%;
    background-color:white;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:20px 25px;
}
header{
    width:100%;
    height:20%;
}
.head{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-areas:"a1 a2 a3"
    /* background-color:pink; */
}
.a1{
    grid-area:a1;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    padding-left:5vmax;
    padding-right:5vmax;
    font-size:2rem;
    font-weight:600;
}
.a2{
    grid-area:a2;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:4vmax;
}
.a3{
    grid-area:a3;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding-right:4vmax;
    padding-left:5vmax;
    gap:3vmax;
}
.a2:hover{
    cursor:pointer;
}
#login{
    border:none;
    background-color: transparent;
    font-size:18px; 
}
#talk{
    padding:10px 10px;
    border:none;
    background-color:black;
    color:white;
    display:flex;
    align-items:center;
    gap:10px;
    border-radius:50px;
    position:relative;
    transition:all 2s ease;
}
#arr{
    background-color:rgb(58, 118, 168);
    display:flex;
    justify-content:center;
    align-items:center;
    width:30px;
    height:30px;
    border-radius:50%;
    color:white;
    transition:all 2s ease;
}
#login:hover{
    cursor:pointer;
}
#talk:hover{
    flex-direction:row-reverse;
    cursor:pointer;
}
section{
    width:95%;
    min-height:80vh;
    display:flex;
    align-items: center;
    gap:20px;
    flex-direction: row;
}
.left{
    width:50%;
    height:100%;
    border-radius: 20px;
    padding-left:30px;
    padding-right:10px;   
    display:flex;
    flex-direction: column;
    justify-content:flex-start;    

}
.leftA{
    display:flex;
    justify-content: center;
    align-items:center;


}
#b1{
    /* margin-top:0; */
    padding:30px 90px;
    border:none;
    background-image:url(a.avif);
    background-size:cover;
    background-position:left;
    border-radius: 50px;
    margin-right:20px;
    width:fit-content;
}
h1{
    font-size:5rem;
}
#b2{
    padding:20px 60px;
    border:2px solid black;
    border-radius: 50px;
    background:linear-gradient(to right,black 50%,transparent 50%);
    font-size:18px;
    background-size:200% 100%;
    background-position:right;
    transition: background-position 0.6s ease;
}
#b2:hover{
    background-position:left;
    color:white;
    cursor:pointer;
}
#contact{
    padding:20px 60px;
    border:none;
    /* background-color:black; */
    font-size:18px;
    color:white;
    display:flex;
    align-items:center;
    gap:10px;
    border-radius:50px;
    width:fit-content;
    cursor:pointer;
    background:linear-gradient(to right,black 100%,transparent 0%);
    background-position:right;
    transition: background-position 0.6s ease;
}
#contact:hover{
    background-position:left;
    background:linear-gradient(to right,black 50%,transparent 50%);
    background-size:200% 100%;
    border:2px solid black;

}
.right{
    width:50%;
    height:100%;
    display:grid;
    grid-gap:10px;
    padding-top:10px 10px;       
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:"r1 r1"
                        "r2 r3"
}
.r1{
    background-image:url(a.avif);
    background-size:cover;
    background-position:center;
    grid-area:r1;
    background-color: aquamarine;
    border-radius: 20px;;
    transition:all 0.3s ease;
}
.r2{
    background-image:url(b.avif);
    background-size:cover;
    background-position:center;
    grid-area:r2;
    background-color: blue;
    border-radius: 20px;
    transition:all 0.3s ease;
}
.r3{
    background-image:url(c.avif);
    background-size:cover;
    background-position:center;
    grid-area:r3;
    background-color:gold;
    border-radius: 20px;
    transition:all 0.3s ease;
}
.r1:hover{
    transform:scale(1.05);
    cursor:pointer;
    box-shadow:0px 4px 8px rgba(0,0,0,0.8);
}
.r2:hover{
    transform:scale(1.05);
    cursor:pointer;
    box-shadow:0px 4px 8px rgba(0,0,0,0.8);
}
.r3:hover{
    transform:scale(1.05);
    cursor:pointer;
    box-shadow:0px 4px 8px rgba(0,0,0,0.8);
}